#Ignore videos

*.avi

**/*.avi

#Ignore csv

*.csv
**/*.csv

#Ignore pngs

*.png
**/*.png

#Ignore asv

*.asv
**/*.asv

#Ignore

*.fig
**/*.fig

*.tiff
**/*.tiff

*.tif
**/*.tif

*.jpg

**/*.jpg

*.jpeg

**/*.jpeg

*.bmp
**/*.bmp

*.buf
**/*.buf

*.pptx
**/*.pptx

*.eps
**/*.eps

*.zip

**/*.zip

*.ai
**/*.ai

*.json
**/*.json

PSFs_380_1_401.mat
VSS2025/VSS2025_Greene_newest.pptx
VSS2025/VSS2025_Greene_backup.pptx
convNormBkgs.mat
VSS2025/VSS2025_Greene.pptx
AnalysisScripts/R_vs_G_isomerizations_563_noBleaching.fig
AnalysisScripts/R_vs_G_isomerizations_559_noBleaching.fig
